body {
    font-family: 'Baskerville Old Face', serif;
    background-color: #f4f4f4;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    color: #585858;
    max-width: 400px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background: none;
    border-radius: 8px;
    text-align: center;
}

.container h1 {
    font-size: 50px;
    margin: 20px 0;
    color: #01755B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    width: 150px;
    font-size: 16px;
    background-color: #01755B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.git {
    text-decoration: none;
    color: #01755B;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

footer a i {
    color: #585858;
    font-size: 11px;
}

.result {
    font-size: 24px;
    margin: 20px 0;
    color: green;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 40px;
    margin: 5px 0;
    color: green;
    font-weight: bold;
}

@media (min-width: 768px) {
    body {
        background-image: url('img/bg-desktop.jpg');
    }

    .container h1 {
        font-size: 38px;
    }

    .git {
        font-size: 18px;
    }
        
    .result {
        font-size: 12px;
    }

    li {
        font-size: 30px;
    }

    footer a i {
        font-size: 19px;
    }
    
    button {
        padding: 5px 10px;
        width: 100px;
        font-size: 12px;
    }

    button:hover {
        width: 100px;
    }
}